<h1>Advisees</h1>

<%= link_to new_advisee_path do %>
  <i class="fa fa-plus"></i>
  Add Advisee
<% end %>

<div class="advisees">
  <% @advisees.each do |advisee| %>
    <%= render partial: 'advisees/advisee', object: advisee %>
  <% end %>
</div>
