<h1>Advisees</h1>

<div class="advisees">
  <% @advisees.each do |advisee| %>
    <%= link_to advisee_path(advisee) do %>
      <%= render partial: 'advisees/advisee', object: advisee %>
    <% end %>
  <% end %>
</div>
