<div class="index-banner parallax-container">
  <div class="parallax">
    <%= image_tag 'college.jpg', height: 800 %>
  </div>
</div>

<div class="container">
  <h1 class="header center orange-text">Advising Assistant</h1>
  <div class="row center">
    <h5 class="header col s12 light">
      The modern way to keep track of your advisees
    </h5>
    <p class="light">
      Tired of large Excel files, binders of paper, or endless word documents
      to keep track of your advisees? Me too!
    </p>
    <p>
      As a professor with over 100 advisees, I wanted to build a system I
      could use to quickly track my advisees, remember what I told them,
      and quickly send emails to the advisee regarding what we discussed.
      Start tracking your advisees the modern way by signing up below.
    </p>
    <%= link_to 'Sign Up Now',
                new_user_registration_path,
                class: 'sign-up btn-large waves-effect waves-light orange' %>
  </div>
</div>
<div class="container">
  <div class="section row blue-grey-text">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center">
          <i class="material-icons">add_a_photo</i>
        </h2>
      </div>
      <h5 class="center">
        Upload Photos
      </h5>
      <p class="light">
        Add photos of each advisee so you can recognize
        who walks in to your office.
      </p>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center">
          <i class="material-icons">schedule</i>
        </h2>
      </div>
      <h5 class="center">
        Schedule Meetings
      </h5>
      <p class="light">
        Quickly add meetings with your advisee then export the meeting
        to your Google or Microsoft calendar and send an
        invite to the advisee.
      </p>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center">
          <i class="material-icons">email</i>
        </h2>
      </div>
      <h5 class="center">
        Email Meeting Notes
      </h5>
      <p class="light">
        Take notes during a meeting and then send a summary email to your
        advisee so they have a record of what you discussed.
      </p>
    </div>
  </div>
</div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">
          Nick Vanselow
        </h5>
        <p class="gray-text text-lighten-4">
          Nick Vanselow is a web developer located in the Greater Boston area.
          He recently completed the Launch Academy program learning web
          development.
        </p>
        <h5 class="white-text">
          Interested in hiring Nick? <br>
          Check him out on:
          <a href="https://www.linkedin.com/in/nickvanselow">LinkedIn</a>
          or
          <a href="https://github.com/nvanselow">Github</a>
        </h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by
      <a class="orage-text text-lighten-3" href="https://github.com/nvanselow">
        Nick Vanselow
      </a>
    </div>
  </div>
</footer>
