<div class="container">
  <h1>Graduation Plans</h1>

  <h3>Plans for:</h3>
  <%= render partial: 'advisees/details' %>

  <div class="center">
    <%= link_to new_advisee_graduation_plan_path(@advisee),
                class: 'btn standard' do %>
      <i class="material-icons left">add</i>
      Add Graduation Plan
    <% end %>
  </div>


  <div class="graduation-plans">
    <% if @graduation_plans.empty? %>
      <div class="center">
        <h5>
          There are no graduation plans for this advisee.
        </h5>
      </div>
    <% end %>

    <div class="row">
      <% @graduation_plans.each do |graduation_plan| %>
        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%= graduation_plan.name %></span>
              <p>
                Last Updated: <br>
                <%= graduation_plan.updated_at.strftime('%B %d, %Y') %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
