<%= render partial: 'graduation_plans/delete_modal',
           locals: { graduation_plan: @graduation_plan} %>

<div id="graduation-plan-data"
     data-id="<%= @graduation_plan.id %>"
     data-name="<%= @graduation_plan.name %>" />

<div id="graduation-plan">
</div>
