.advisee {
  cursor: pointer;
  text-align: center;

  .advisee-info {
    background: $primary-color-light;
    margin-bottom: 5px;
    min-height: 100px;
    padding: 10px;
  }

  img {
    height: 80px;
    width: 80px;
  }

  .advisee-name {
    color: $primary-text-color;
    font-size: 1.15em;
    white-space: nowrap;
  }

  h3 {
    color: $secondary-text-color;
    font-size: 16px;
    margin-top: 5px;
  }
}

.advisee-details {
  .photo {
    padding: 15px;
  }
}
