$primary-color-dark: #1976d2;
$primary-color: #2196f3;
$primary-color-light: #bbdefb;
$primary-color-text: #fff;
$accent-color: #ff9800;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #b6b6b6;
