.graduation-plans {
  margin-top: 25px;
}

.graduation-plan {
  h5 {
    border-bottom: 1px solid $primary-color-dark;
    font-size: 1.2em;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
  }

  .chip {
    margin-top: 10px;
  }

  .graduation-plan-name {
    margin-top: 20px;
  }

  .remaining-courses,
  .semester {
    border: 1px solid $primary-color-dark;
    text-align: center;

    .hovering {
      background-color: green;
    }
  }
}
