.add-meeting-form {
  @extend .orange, .lighten-5;
  margin-top: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.calendar-export-options {
  margin-top: 10px;
}

.meeting {
  .meeting-description {
    font-size: 1.25em;
  }
}
