.calendar-export-options {
  margin-top: 10px;
}

.meetings {
  .no-meetings {
    text-align: center;
  }
}

.meeting {
  .meeting-details-link,
  .advisee-link {
    color: $white;
  }

  .meeting-details-link:hover,
  .advisee-link:hover {
    text-decoration: underline;
  }

  .meeting-description {
    font-size: 1.25em;
  }
}
