.calendar-export-options {
  margin-top: 10px;
}

.meeting {
  .meeting-details-link {
    color: $white;
  }

  .meeting-details-link:hover {
    text-decoration: underline;
  }

  .meeting-description {
    font-size: 1.25em;
  }
}
