.notes {
  .no-notes {
    text-align: center;
  }
}

.note {
  background-color: $primary-color-light;
  border: 1px solid $primary-color-dark;
  margin-bottom: 10px;
  padding: 10px;

  p {
    margin-bottom: 20px;
  }

  h4 {
    font-size: 1.1em;
    text-align: right;
  }

  button {
    margin-right: 20px;
  }
}
