.upcoming-meetings {
  border-left: 1px solid $primary-color-dark;
  height: 100vh;

  h2 {
    font-size: 1.9em;
    text-align: center;
  }

  p {
    font-size: 1.2em;
    text-align: center;
  }
}
